.button {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 23px;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    border: 0;
    cursor: pointer;
}