.pagination {
    display: flex;
    justify-content: center;
    margin-left: 25%;

    button {
        border: 0;
        cursor: pointer;
        padding: 8px;
        background-color: transparent;
    }
}